.App {
  background-color: #f28ab2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
}

.birthdayCount {
  color: #102a42;
}

.mainCard {
  padding: 10px 20px 10px 20px;
  width: 400px;
  height: max-content;
  color: #000;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px 1px;
}

.card {
  margin: 15px;
  display: flex;
  align-items: center;
}

img {
  width: 85px;
  height: 85px;
  margin: 0px 10px 0px 0px;
  border-radius: 50%;

}

button {
  width: 100%;
  height: 7%;
  font-size: 1.3rem;
  padding: 0.3em 1.2em;
  margin: 0 0.1em 0.1em 0;
  border: 0.1em solid rgba(255, 255, 255, 0);
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  background-color: #f28ab2;
  color: #ffffff;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
  text-align: center;
  transition: all 0.2s;
  outline: none;
}

button:hover {
  border-color: rgba(255, 255, 255, 1);
}

.name {
  font-size: 1rem;
  font-weight: 600;
}

.age {
  font-size: .9rem;
  color: #617d98;
}

.adduserbtn {
  margin-top: 10px;
}